{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <br><br><br><br><br>
    <h1>Liste des articles</h1>
    <ul>
        {% for article in articles %}
            <li>name : {{ article.name }}</li>
            <li>createdAt : {{ article.createdAt|date }}</li>
            <li>imageUrl : {{ article.imageUrl }}</li>
            <li>content : {{ article.content }}</li>
                {% if article.user %}
                    <li>firstName : {{ article.user.firstName }}</li>
                    <li>lastName : {{ article.user.lastName }}</li>
                    <li>email : {{ article.user.email }}</li>
                {% else %}
                    <li>user : No user</li>
                {% endif %}
                <a href="{{ path('article_remove', {'id': article.id}) }}">Supprimer l'article</a>
            <br><br>
        {% endfor %}
    </ul>
{% endblock %}
